@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* TODO: find the definition of this element */
div[data-phx-main] {
  height: 100%;
}

/* color palette */
.fc-orange {
  fill:#deaa87;
}

.fc-black {
  fill:#000000
}